* @valentinvieriu @akucharska @dariadomagala @qbalukom @Wawrzyn321 @wchrapka @mrCherry97 @Lyczeq

/content/ @klaudiagrz @mmitoraj @majakurcius @NHingerl @grego952

*.md @klaudiagrz @mmitoraj @majakurcius @NHingerl @grego952
