* @aerfio @m00g3n @magicmatatjahu @pPrecel @valentinvieriu @tgorgol

/content/ @kazydek @klaudiagrz @mmitoraj @alexandra-simeonova @majakurcius @superojla

*.md @kazydek @klaudiagrz @mmitoraj @alexandra-simeonova @majakurcius @superojla


