* @valentinvieriu @akucharska @dariadomagala @qbalukom @Wawrzyn321 @wchrapka @mrCherry97 @Lyczeq

/content/ @mmitoraj @majakurcius @NHingerl @grego952 @IwonaLanger  

*.md @mmitoraj @majakurcius @NHingerl @grego952 @IwonaLanger  
