@font-face {
  font-family: "Poppins";
  src: url("/font/poppins-v5-latin-500.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("/font/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"),
    url("/font/poppins-v5-latin-500.woff2") format("woff2"),
    url("/font/poppins-v5-latin-500.woff") format("woff"),
    url("/font/poppins-v5-latin-500.ttf") format("truetype"),
    url("/font/poppins-v5-latin-500.svg#Poppins") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/poppins-v5-latin-600.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("/font/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"),
    url("/font/poppins-v5-latin-600.woff2") format("woff2"),
    url("/font/poppins-v5-latin-600.woff") format("woff"),
    url("/font/poppins-v5-latin-600.ttf") format("truetype"),
    url("/font/poppins-v5-latin-600.svg#Poppins") format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/poppins-v5-latin-700.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("/font/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"),
    url("/font/poppins-v5-latin-700.woff2") format("woff2"),
    url("/font/poppins-v5-latin-700.woff") format("woff"),
    url("/font/poppins-v5-latin-700.ttf") format("truetype"),
    url("/font/poppins-v5-latin-700.svg#Poppins") format("svg");
  font-style: normal;
  font-weight: 700;
}
