@charset "UTF-8";

.container {
  width: 1200px;
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row--space-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .row.row--sm-align-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.col-1 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-2 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-3 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-4 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-5 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-6 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-7 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-8 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-9 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-10 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-11 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.col-12 {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
}

.btn-github svg {
  position: relative;
  margin-right: 4px;
  top: -1px;
}

.btn-slack svg {
  position: relative;
}

@media (max-width: 992px) {
  .hidden-md {
    display: none;
  }
  .btn-github svg {
    position: relative;
    margin-right: 0px;
  }
  .btn-slack svg {
    position: relative;
    right: -2px;
  }
}

@media (max-width: 767px) {
  .col-md-1 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-2 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-3 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-4 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-5 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-6 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-7 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-8 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-9 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-10 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-11 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-md-12 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .col-sm-1 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-2 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-3 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-4 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-5 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-6 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-7 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-8 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-9 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-10 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-11 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-sm-12 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-2 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-3 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-4 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-5 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-6 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-7 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-8 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-9 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-10 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-11 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .col-lg-12 {
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("./font/poppins-v5-latin-500.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("./font/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"),
    url("./font/poppins-v5-latin-500.woff2") format("woff2"),
    url("./font/poppins-v5-latin-500.woff") format("woff"),
    url("./font/poppins-v5-latin-500.ttf") format("truetype"),
    url("./font/poppins-v5-latin-500.svg#Poppins") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./font/poppins-v5-latin-600.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("./font/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"),
    url("./font/poppins-v5-latin-600.woff2") format("woff2"),
    url("./font/poppins-v5-latin-600.woff") format("woff"),
    url("./font/poppins-v5-latin-600.ttf") format("truetype"),
    url("./font/poppins-v5-latin-600.svg#Poppins") format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./font/poppins-v5-latin-700.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("./font/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"),
    url("./font/poppins-v5-latin-700.woff2") format("woff2"),
    url("./font/poppins-v5-latin-700.woff") format("woff"),
    url("./font/poppins-v5-latin-700.ttf") format("truetype"),
    url("./font/poppins-v5-latin-700.svg#Poppins") format("svg");
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.375;
  margin-top: 0;
  margin-bottom: 30px;
}

#svgSprite {
  display: none;
}

.sprite-icon {
  width: 25px;
  max-height: 30px;
  pointer-events: none;
  vertical-align: middle;
  z-index: 11;
}
.sprite-icon-slack {
  margin-right: 1px;
}
.sprite-icon-github {
  position: relative;
  top: -2px;
  margin-right: 4px;
}
.sprite-icon--12 {
  width: 12px;
  max-height: 12px;
}
.sprite-icon--14 {
  width: 14px;
  max-height: 14px;
}
.sprite-icon--15 {
  width: 15px;
  max-height: 15px;
}
.sprite-icon--25 {
  width: 25px;
  max-height: 25px;
}
.sprite-icon--28 {
  width: 28px;
  max-height: 28px;
}
.sprite-icon--79 {
  width: 79px;
  max-height: 101px;
}
.sprite-icon--173 {
  width: 173px;
  max-height: 61px;
}
@media (max-width: 575px) {
  .sprite-icon--173 {
    width: 140px;
  }
}
.sprite-icon--primary {
  fill: #0b74de;
}
.sprite-icon--inverse {
  fill: #ffffff;
}

.bg-h {
  position: relative;
}
.bg-h:before {
  content: " ";
  background: url("./img/header.svg") no-repeat;
  background-size: 100% 35vw;
  min-height: 35vw;
  display: block;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.bg-h.blog-header:before {
  background: url("./img/blog-header.svg") no-repeat;
}

.bg-h.blog-header {
  margin-bottom: 3vw;
}

@media (max-width: 1000px) {
  .bg-h.blog-header:before {
    top: -12vw;
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 750px) {
  .bg-h.blog-header:before {
    top: -10vw;
  }
}

@media (max-width: 575px) {
  .bg-h:before {
    background-size: 100% 43vw;
    min-height: 43vw;
  }
}
@media (min-width: 1400px) {
  .bg-h:before {
    background-size: 100% 500px;
    min-height: 500px;
  }

  .bg-h.blog-header:before {
    top: -5vw;
    min-height: 35vw;
  }
}

.bg-h .container {
  z-index: 100;
  position: relative;
  padding-top: 30px;
  margin-bottom: 6%;
}

@media (max-width: 575px) {
  .bg-h .container {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.kyma-headline br {
  display: none;
}

@media (max-width: 320px) {
  .kyma-headline {
    font-size: 30px;
  }
}

@media (min-width: 321px) and (max-width: 575px) {
  .kyma-headline {
    font-size: 30px;
    -ms-flex: 0 0 72%;
    flex: 0 0 72%;
    max-width: 72%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kyma-headline {
    font-size: 35px;
  }
  .kyma-headline br:first-child {
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .kyma-headline br {
    display: inline;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .kyma-headline {
    -ms-flex: 0 0 53vw;
    flex: 0 0 53vw;
    max-width: 53vw;
  }
}

@media (min-width: 1400px) {
  .kyma-headline {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

.kyma-menu {
  width: auto;
  float: right;
  margin-top: 0;
}
.kyma-menu .link-ordinary {
  font-size: 18px;
  margin-right: 15px;
}
.kyma-menu .btn {
  margin-top: 5px;
}
.kyma-menu > li {
  display: inline;
  text-align: center;
}

.btn-burger {
  background-color: #176ad9 !important;
}

@media (max-width: 767px) {
  .kyma-menu {
    position: fixed;
    display: block;
    background-color: #235dbe;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 301;
    transition: transform 300ms ease;
    transform: translateX(100%);
  }
  .kyma-menu > li {
    display: block;
    padding: 0px 30px 10px 30px;
    position: relative;
  }
  .kyma-menu > li:first-child {
    padding: 30px 30px 65px 30px;
  }
  .kyma-menu .btn {
    padding: 2px 0;
  }
  .kyma-menu .link, .kyma-menu .btn {
    display: block;
  }
  .kyma-menu .link-ordinary {
    font-family: "Poppins", Arial, sans-serif;
    border: 2px solid #ffffff;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 18px;
    transition: background-color ease-out 0.2s;
    text-decoration: none;
  }
  .kyma-menu .link-ordinary:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
  }
  .kyma-menu .link-ordinary:before {
    margin-right: 0;
    content: "";
    transform: translateX(0);
  }
  .kyma-menu .link-ordinary:after {
    margin-right: 0;
    content: "";
    transform: translateX(0);
  }
  .kyma-menu .link-ordinary:active:before,
  .kyma-menu .link-ordinary:focus:before,
  .kyma-menu .link-ordinary:hover:before {
    opacity: 1;
    transform: translateX(0);
  }
  .kyma-menu .link-ordinary:active:after,
  .kyma-menu .link-ordinary:focus:after,
  .kyma-menu .link-ordinary:hover:after {
    opacity: 1;
    transform: translateX(0);
  }
  .kyma-menu .link-ordinary, .kyma-menu .btn-github, .kyma-menu .btn-slack {
    margin: 0px;
  }
  .kyma-menu .link-blog {
    padding: 20px;
  }
  .kyma-menu .hidden-md {
    display: inline;
  }
  .kyma-menu.offcanvas {
    transform: translateX(0);
  }
  .kyma-menu .btn-burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 22px;
    left: 17px;
  }
  .kyma-menu .btn-burger span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  .kyma-menu .btn-burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 16px;
  }
  .btn-burger {
    position: absolute;
    right: 30px;
    height: 50px;
    width: 70px;
    z-index: 300;
    outline: none;
  }
  .btn-burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .btn-burger span:nth-child(1) {
    top: 13px;
  }
  .btn-burger span:nth-child(2) {
    top: 21px;
  }
  .btn-burger span:nth-child(3) {
    top: 29px;
  }
}

@media (max-width: 575px) {
  .btn-burger {
    right: 25px;
  }
  .kyma-menu > li {
    display: block;
    padding: 0px 25px 10px 25px;
    position: relative;
  }
  .kyma-menu > li:first-child {
    padding: 25px 25px 65px 25px;
  }
}

@media (min-width: 768px) {
  .btn-burger {
    display: none;
  }
}

.kyma-attr {
  margin-top: 10%;
}
.kyma-attr h2, .kyma-attr h3 {
  text-align: center;
}
@media (min-width: 768px) {
  .kyma-attr h3 {
    min-height: 66px;
  }
}
.kyma-attr .img-wrap {
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 576px) {
  .kyma-attr .img-wrap {
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .kyma-attr .img-wrap {
    height: 23vw;
    max-height: 330px;
  }
}
.kyma-attr .img-wrap svg {
  max-width: 100%;
}
.kyma-attr .img-extendable {
  max-width: 263px;
}
.kyma-attr .img-connectivity {
  max-width: 250px;
}
.kyma-attr .img-technology {
  max-width: 228px;
}
.kyma-attr ul {
}
@media (min-width: 373px) {
  .kyma-attr ul {
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .kyma-attr .img-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .kyma-attr section {
    -ms-flex-align: center;
    align-items: center;
  }
  .kyma-attr ul {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .kyma-attr ul {
    margin-bottom: 40px;
  }
}

.home-link {
  width: 173px;
  max-height: 61px;
  display: inline-block;
}

.bg-m {
  position: relative;
  background: url("./img/middle.svg") no-repeat;
  background-size: 100% 100%;
  min-height: 670px;
  z-index: 1;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.5%;
  margin-bottom: 0;
}
.bg-m .container {
  z-index: 100;
  position: relative;
  padding-top: 3%;
}
@media (max-width: 767px) {
  .bg-m .container {
    padding-top: 25%;
    padding-bottom: 15%;
  }
}
@media (max-width: 575px) {
  .bg-m .container {
    padding-top: 53%;
    padding-bottom: 36%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg-m .container {
    padding-top: 6%;
  }
}

.treasure-svg {
  width: 475px;
  height: 415px;
}

.mission-svg {
  width: 457px;
  height: 317px;
}

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bg-f {
  position: relative;
  background: url("./img/footer.svg") no-repeat;
  background-size: 100% 100%;
  min-height: 340px;
  z-index: 1;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.5%;
}
.bg-f .container {
  z-index: 100;
  position: relative;
  margin-top: 2%;
  text-align: center;
}

.kyma-footer-logo {
  display: block;
  margin: 0 auto 45px;
}

.link-media {
  display: inline-block;
}

.link-github svg {
  position: relative;
  margin-right: 5px;
  top: -1px;
}

.link-twitter svg {
  position: relative;
  margin-right: 3px;
  top: -1px;
}

.link-slack svg {
  position: relative;
  margin-right: 2px;
}

.link-linkedin svg {
  position: relative;
  margin-right: 5px;
  top: -2px;
}

.link-youtube svg {
  position: relative;
  margin-right: 5px;
  top: -1px;
}

.btn {
  font-family: "Poppins", Arial, sans-serif;
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 0 18px;
  line-height: 46px;
  background-color: transparent;
  transition: background-color ease-out 0.2s;
  text-decoration: none;
}

.btn-slack {
  margin-right: 15px;
}

.btn-github {
  border-color: #2852c7;
  background-color: #2852c7;
}

.kyma-menu .btn-github {
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.kyma-margin-top {
  margin-top: 10%;
}

.btn-github, .btn-slack, .btn-documentation {
  padding: 10px 18px;
}

.btn:active, .kyma-menu .btn-github:active,
.btn:focus, .kyma-menu .btn-github:focus,
.btn:hover, .kyma-menu .btn-github:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.btn-github:active,
.btn-github:focus,
.btn-github:hover {
  background-color: rgba(40, 82, 199, 0.9);
}

.link {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
.link:before {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
  margin-right: 10px;
  content: "[";
  transform: translateX(20px);
}
.link:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
  margin-right: 10px;
  content: "]";
  transform: translateX(-8px);
}
.link:active:before,
.link:focus:before,
.link:hover:before {
  opacity: 1;
  transform: translateX(0px);
}
.link:active:after,
.link:focus:after,
.link:hover:after {
  opacity: 1;
  transform: translateX(8px);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.625;
  font-weight: 500;
  color: #485766;
  font-size: 1rem;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.align--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.content-inverse {
  color: #ffffff;
}

p {
  margin: 0 0 20px;
}
p:not(:first-child) {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin: 28px 0 0;
}

.list-disc li {
  position: relative;
  padding-left: 30px;
  line-height: 1.625;
}
.list-disc li:not(:last-child) {
  margin-bottom: 17px;
}
.list-disc li:before {
  content: "•";
  color: #0b74de;
  position: absolute;
  left: 0;
}

img {
  width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
}

.btn svg + span {
  margin-left: 7px;
}

.copyright {
  margin-top: 30px;
}

.copyright a {
  color: #fff;
  text-decoration: underline;
}

.copyright > p {
  display: block;
  font-size: 12px;
  color: #fff;
  margin: 0;
}

.content-layout {
  transition: opacity 0.3s ease-out;
  opacity: 1 !important;
  visibility: visible !important;
}

@media (max-width: 480px) {
  .bg-m {
    margin-bottom: 10%;
  }
}
